## Visual Studio
.vs/
*.sln.docstates
*.user
*.suo
*.userprefs
*.csproj.user

## Build results
bin/
obj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.exe
*.pdb
*.dll
*.xml

## Design-time files
*.cache
*.ilk
*.meta
*.obj
*.pch
*.log

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Windows
Thumbs.db
Desktop.ini
*.DS_Store
